fastapi
confluent-kafka
psycopg2-binary
uvicorn
uvloop>=0.14.0
fastapi-socketio==0.0.8
fastavro==1.4.7
avro-to-python==0.3.2
requests==2.26.0
sqlalchemy
pandas
markupsafe==2.0.1
numpy
plotly==5.6.0
scipy
matplotlib
detecta
scikit-learn
tslearn
imblearn
pandasql
hilbertcurve
pathlib
pickle5
seaborn