fastapi
confluent-kafka
psycopg2-binary
uvicorn
uvloop>=0.14.0
fastapi-socketio==0.0.8
fastavro==1.4.7
avro-to-python==0.3.2
requests==2.26.0
sqlalchemy
pandas
markupsafe==2.0.1
numpy
numba
plotly
detecta
pandasql
hilbertcurve
tslearn
flask_sqlalchemy
pyproj
HilbertCurve
ruamel-yaml
pyqt5 
backports-zoneinfo
pbr
helpdev
pathlib
findspark
PyWavelets